<div class="flex-container flex-1 fh" id='layoutWrapper'>
    <div class="flex-container">
        <div class="m-t-20 p-l-20 p-r-20">
            <span class="flex-display flex-column animated slideInLeft delay-500ms">
            <i class="fas fa-user-circle text-grad def-grad-txt text-style f-32 m-b-5"></i>
            <span class="text-style f-12 semi-bold">+91 9605 501150</span>
            </span>
        </div>
    </div>
    <div class="flex-container flex-1">
        <router-outlet></router-outlet>
    </div>
    <div class="flex-container">
        <div class="phone animated slideInUp delay-500ms">
            <nav class="fw">
                <ul class="list-wrap bg-style off-white-bg">
                    <li data-color="linear-gradient(to bottom right, #1cddba, #00b8bd)" title="Home">
                        <i class="icon-style home"></i>
                    </li>
                    <li data-color="#ff6b81" title="Profile">
                        <i class="icon-style category"></i>
                    </li>
                    <li data-color="#7bed9f" title="Get a beer!">
                        <i class="icon-style payments"></i>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>