#layoutWrapper {
    $black: #2f3542;
    $grey: #a4b0be;
    // WAVE
    .wave-wrap {
        position: relative;
        width: 100%;
        height: 33px;
        overflow: hidden;
        margin-bottom: 0;
        #wave {
            position: absolute;
            width: 150px;
            transform-origin: bottom;
            transform: scaleY(0.8);
            transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);
            .path {
                fill: $black;
            }
        }
    }
    // LIST
    .list-wrap {
        display: flex;
        width: 100%;
        height: 50px;
        list-style: none;
        justify-content: space-around;
        li {
            cursor: pointer;
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);
            -webkit-filter: grayscale(100%);
            /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            i {
                position: relative;
                font-size: 1.5em;
                color: $grey;
                z-index: 5;
                transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);
            }
            &:before {
                content: "";
                position: absolute;
                background: green;
                height: 80%;
                width: 80%;
                left: 10%;
                top: 10%;
                // border-radius: 50%;
                z-index: 0;
                transform: scale(0);
                transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);
                border-radius: 15px;
            }
            &.active {
                -webkit-filter: none;
                /* Safari 6.0 - 9.0 */
                filter: none;
                i {
                    color: #ffffff;
                }
                &:before {
                    transform: scale(1);
                }
            }
            &:nth-child(1) {
                &:before {
                    background: #e0e0e0;
                }
            }
            &:nth-child(2) {
                &:before {
                    background: #e0e0e0;
                }
            }
            &:nth-child(3) {
                &:before {
                    background: #e0e0e0;
                }
            }
            &:nth-child(4) {
                &:before {
                    background: #e0e0e0;
                }
            }
            &:nth-child(5) {
                &:before {
                    background: #e0e0e0;
                }
            }
        }
    }
    // ▼ this is not necessary for the navigation ▼
    .phone {
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        .page {
            height: 327px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3em;
            color: rgba(0, 0, 0, 0.1);
            text-transform: uppercase;
            letter-spacing: 5pt;
            padding-top: 50px;
        }
    }
}