<div class="req-white flex-container flex-1 bg-style def-grad-bg fh" id='loginWrapper'>
    <!-- Universe SVG end  -->
    <div class="container-padding flex-1 login-container">
        <div class="flex-display flex-column flex-1 fh justify-space-between">
            <div class="flex-container">
                <form class="animated slideInUp delay-500ms m-b-20" autocomplete="off">
                    <mat-form-field class="fw">
                        <button matSuffix mat-raised-button class="m-b-10" *ngIf="!otpTrigger" (click)="gotoDashBoard()">GET STARTED</button>
                        <i matPrefix class="fas fa-long-arrow-alt-left text-style white-clr m-r-10" (click)="otpTrigger=false"></i>
                        <input matInput placeholder="OTP" type="tel">
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>