// flex
.flex-container {
    display: flex;
    flex-direction: column;
    .container-padding {
        padding: 20px;
    }
}

.flex-display {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}