// bg style
.bg-style {
    &.def-grad-bg {
        background: linear-gradient(to bottom right, $base-color, $base-color-grad-one);
    }
    &.def-bg {
        background-color: $base-color;
    }
    &.off-white-bg {
        background-color: $off-white;
    }
}

// text style
.text-style {
    &.def-grad-clr {
        color: linear-gradient(to bottom right, $base-color-grad-one, $base-color);
    }
    &.def-clr {
        color: $base-color;
    }
    &.off-white-clr {
        color: $off-white;
    }
    &.white-clr {
        color: $white;
    }
    &.f-10 {
        font-size: $fs-10;
    }
    &.f-12 {
        font-size: $fs-12;
    }
    &.f-14 {
        font-size: $fs-14;
    }
    &.f-16 {
        font-size: $fs-16;
    }
    &.f-18 {
        font-size: $fs-18;
    }
    &.f-20 {
        font-size: $fs-20;
    }
    &.f-24 {
        font-size: $fs-24;
    }
    &.f-32 {
        font-size: $fs-32;
    }
    &.semi-bold {
        font-family: 'Proxima Nova Semibold';
    }
}

//icons
.icon-style {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    &.home {
        background-image: url(../images/icons/home-50.png);
    }
    &.category {
        background-image: url(../images/icons/opened-folder-50.png);
    }
    &.payments {
        background-image: url(../images/icons/credit-card-50.png);
    }
}

// Grdient text
.text-grad {
    &.def-grad-txt {
        background: linear-gradient(to bottom right, $base-color, $base-color-grad-one);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}